@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: Rubik;
    src: url('../font/Rubik-Medium.ttf');
}

@font-face {
    font-family: Lalezar;
    src: url('../font/Lalezar-Regular.ttf');
}

body,
html {
    padding: 0;
    margin: 0;
    overflow: hidden;

}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #280F2C !important;
    color: #fff;
}

* {
    font-family: Rubik;
}


*::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #280F2C;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0);
    /* creates padding around scroll thumb */
}

#root {
    display: flex;
    height: 100vh;
    width: 100%;

    .sidebar {
        width: 5em;
        height: 100vh;
        padding: 1em 0.7em;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_logo {
            img {
                width: 98.8%;
                cursor: pointer;
            }
        }

        &_menu {
            margin-top: 3em;

            &_item {
                margin: 2em 0;
                display: flex;
                justify-content: center;
                cursor: pointer;

                a {
                    display: flex;
                    justify-content: center;
                    padding: 0.6em 0.3em;

                    &:hover,
                    &.active {
                        background: rgba(0, 0, 0, 0.6);
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 12px;
                    }
                }

                img {
                    width: 70%;
                    margin: 0 auto;
                }


            }
        }
    }

    .main {
        flex: 1;
        background: #000;
        border-radius: 50px 0px 0px 50px;
        padding: 1rem 1.5rem;
        overflow-y: auto;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_title {
                display: flex;
                align-items: center;
                justify-content: center;

                h4 {
                    margin-bottom: unset;
                }

                img {
                    width: 1.7em;
                    margin: 0 0.5em;
                }
            }
        }
    }

    .slider {
        max-width: 65.2rem;
        width: 100%;
        margin-top: 1em;

        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            top: 46%;
            right: 0;
            left: unset;
            bottom: unset;
            width: 2em;
            display: flex;
            flex-direction: column;
            row-gap: 0.5em;
        }

        .swiper-pagination-bullet {
            background: #777676;
        }

        .swiper-pagination-bullet-active {
            background: #fff !important;
            height: 15px;
            box-shadow: 0px 0px 5px #333033;
            border-radius: 2em;
        }

        &-item {
            position: relative;
            width: 100%;
            height: 19.5em;

            &_play {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                background: rgba(40, 15, 44, 0.911);
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                border-radius: 25px;
                padding: 0.5em 0.8em;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 8em;

                h5 {
                    margin: unset;
                }

                button {
                    background: rgba(255, 255, 255, 0.92);
                    /* play */
                    box-shadow: -4px 4px 4px rgba(126, 125, 125, 0.25), 4px -4px 8px rgba(126, 125, 125, 0.25);
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    outline: unset;
                    border: unset;

                    img {
                        width: 1em;
                        pointer-events: none !important;
                        transform: none !important;
                    }
                }
            }

            img {
                height: 100% !important;
                border-radius: 30px;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.11);
                    transition: all 0.3s;
                }
            }
        }


    }

    .col-xl-3 {
        padding: 0.3em;
    }

    .mood {
        &_item {
            width: 100%;
            cursor: pointer;
            border-radius: 25px;
            height: 6em;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
            font-size: 1.3em;
            background-repeat: round !important;
            background-position: center;

            // &:hover {
            //     background: rgba(0, 0, 0, 0.315);
            //     transition: linear 0.5s;
            // }
        }

        &_work {
            background: #3353FC;
        }

        &_relax {
            background: #7673FE;
        }

        &_happy {
            background: #FFA133;
        }

        &_sad {
            background: #FF7449;
        }

        &_pop {
            background: url(../icon/pop.svg);
        }

        &_rock {
            background: url(../icon/rock.svg);
        }

        &_hip {
            background: url(../icon/hiphop.svg);
        }

        &_classical {
            background: url(../icon/classic.svg);
        }
    }

    .song_tab {
        max-width: 65.2rem;
        width: 100%;
        background: rgba(40, 15, 44, 0.47);
        border-radius: 25px;
        position: relative;
        padding: 0.5em 0.8em;
        margin-top: 1em;

        .nav-tabs {
            border-bottom: unset;
            column-gap: 1em;
        }

        .nav-tabs .nav-link.active {
            background: #280F2C;
            border-radius: 1rem;
            border-color: transparent;
            color: #fff;
        }

        .nav-tabs .nav-link {
            border-radius: 1rem;
            border-color: transparent;
            background: #221a2369;
            color: #fff;
        }

        .song_item {
            cursor: pointer;
            height: 30vh;

            img {
                width: 100%;
                border-radius: 2rem;
            }

            &:hover {
                transition: ease-in-out 0.5S;

                .item_overlay {
                    opacity: 1;
                }

                .item_details {
                    top: 64%;
                    opacity: 1;
                }
            }

            &_singer {
                color: rgba(255, 255, 255, 0.5);
                margin-left: 1em;
            }

            &_title {

                img {
                    width: 0.7em;
                    margin: 0 0.3em;
                }

            }

            .item_details {
                background: linear-gradient(263.22deg, #000 -13.83%, #000000 96.59%);
                border-radius: 25px;
                position: absolute;
                height: 34%;
                width: 85%;
                margin: 0 auto;
                left: 0;
                // top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
                padding: 0.8em;
                font-size: 0.8rem;
                display: flex;
                justify-content: space-around;
                align-items: center;

                &_p {
                    width: 69%;
                }

                p {
                    margin-bottom: unset;
                }

                button {
                    border-radius: 50%;
                    outline: unset;
                    border: unset;
                    width: 2.8em;
                    height: 2.8em;
                    background: #FFFFFF;
                    box-shadow: -4px 4px 4px rgb(126 125 125 / 25%), 4px -4px 8px rgb(126 125 125 / 25%);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        border-radius: unset;
                        width: 1em;
                        pointer-events: none !important;
                    }
                }
            }

            .fadeIn-bottom {
                top: 80%;
            }
        }
    }

    .play_music {
        position: fixed;
        right: 0;
        bottom: 0;
        width: calc(100% - 5rem);
        height: 4rem;
        z-index: 9999999;
        display: flex;
        column-gap: 3rem;
        background: rgba(40, 15, 44, 0.57);
        box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5.5px);
        border-radius: 1.5rem;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;

        &_img {
            width: 3.5em;
            border-radius: 0.5em;
        }

        p {
            margin-bottom: unset;
            font-size: 0.9em;
        }

        &_singer {
            color: #8D8989;
        }

        .dropdown-menu {
            background: #000000db;
        }

        .dropdown-item {
            color: #fff;

            &:focus,
            &:hover {
                background: #1f0c22ab;
                color: #fff;
            }
        }

        &_upload {
            all: unset;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.9em;
            color: #dad5d5;

            &::after {
                all: unset;
            }

            img {
                width: 2.5em;
            }
        }

        .music_player {
            background: unset;
            box-shadow: unset;
            width: 60%;

            .rhap_progress-filled,
            .rhap_progress-indicator {
                background: #fff;
            }

            .rhap_download-progress {
                background: #767272;
            }

            .rhap_time {
                font-size: 0.8em;
                color: #fff !important;
            }

            .rhap_controls-section {
                flex: unset;
            }

            .rhap_forward-button,
            .rhap_rewind-button {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 2rem;
                }
            }

            .rhap_play-pause-button {
                border-radius: 50%;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: -4px 4px 4px rgba(126, 125, 125, 0.25), 4px -4px 8px rgba(126, 125, 125, 0.25);

                img {
                    width: 0.9rem;
                }
            }
        }
    }

    .top_artist {
        margin-top: 1em;

        &_box {
            height: 56vh;
            overflow-y: auto;
            width: 100%;
            padding-bottom: 2em;

            &_item {
                display: flex;
                justify-content: space-between;
                background-color: rgba(40, 15, 44, 0.47);
                padding: 0.5em;
                border-radius: 1.2em;
                margin-bottom: 0.5em;
                align-items: center;

                &_title {
                    padding: 0 2em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }

                img {
                    width: 5.1em;
                    height: 5.1em;
                    border-radius: 1.2em;
                }

                p {
                    margin-bottom: unset;
                }

                a {
                    height: 3em;
                    display: flex;
                    align-items: center;
                    align-self: self-end;
                    background: #3A383852;
                    color: #fff;
                    outline: unset;
                    border: unset;
                    border-radius: 1.2em;
                    padding: 0.5em 1em;
                    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
                    transition: all 0.3s;
                    text-decoration: unset !important;

                    &:hover {
                        background: #21202052;
                    }

                    img {
                        width: 0.8em;
                        margin-left: 0.3em;
                    }
                }
            }
        }
    }

    .details_container {
        background: rgba(40, 15, 44, 0.57);
        box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5.5px);
        border-radius: 1.5rem;
        max-width: 70vw;
        min-height: 40vh;
        margin: auto auto;
        margin-top: 4rem;
        width: 100%;
        padding: 1rem 2rem;

        .poem {
            font-family: Lalezar;
            text-align: right;
            height: 19em;
            overflow-y: auto;
            padding: 0 0.5em;
            font-size: 1.1em;
        }

        .play_now {
            position: relative;
            right: 1rem;
            bottom: 1rem;
            background: rgba(40, 15, 44, 0.911);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            padding: 0.5em 0.9em;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 7.2em;
            margin: 3rem 0.5em;

            h5 {
                margin: unset;
            }

            button {
                background: rgba(255, 255, 255, 0.92);
                /* play */
                box-shadow: -4px 4px 4px rgba(126, 125, 125, 0.25), 4px -4px 8px rgba(126, 125, 125, 0.25);
                width: 3em;
                height: 3em;
                border-radius: 50%;
                position: absolute;
                left: 0;
                outline: unset;
                border: unset;

                img {
                    width: 1em;
                    pointer-events: none !important;
                    transform: none !important;
                }
            }
        }

        &_image {
            background: url('../icon/back-img.svg');
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 42vh;
            // background-size: cover;
            background-repeat: no-repeat;

            img {
                border-radius: 1.2rem;
                width: 90%;
                cursor: pointer;
            }
        }
    }

    .search {
        width: 30em;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;

        input {
            outline: unset;
            border: 2px solid #FFFFFF;
            border-radius: 15px;
            background: unset;
            padding: 0.3em 1rem;
            width: 100%;
            height: 2.5em;
            font-family: Lalezar;
            color: #fff;
            font-size: 1.2em;

        }

        img {
            width: 1.5em;
            position: absolute;
            right: 1em;
            top: 0.7em;
            cursor: pointer;
        }
    }
    .img_no_search{
        display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    width: 20em;
    position: absolute;
    left: 41%;
    }
    .search_list{
        height: calc(100vh - 10rem);
        overflow-y: auto;
        .song_item {
            cursor: pointer;
            position: relative;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.7em auto;

            img {
                width: 100%;
                border-radius: 2rem;
            }

            &:hover {
                transition: ease-in-out 0.5S;

                .item_overlay {
                    opacity: 1;
                }

                .item_details {
                    top: 64%;
                    opacity: 1;
                }
            }

            &_singer {
                color: rgba(255, 255, 255, 0.5);
                margin-left: 1em;
            }

            &_title {

                img {
                    width: 0.7em;
                    margin: 0 0.3em;
                }

            }

            .item_details {
                background: linear-gradient(263.22deg, #000 -13.83%, #000000 96.59%);
                border-radius: 25px;
                position: absolute;
                height: 34%;
                width: 85%;
                margin: 0 auto;
                left: 0;
                // top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
                padding: 0.8em;
                font-size: 0.8rem;
                display: flex;
                justify-content: space-around;
                align-items: center;

                &_p {
                    width: 69%;
                }

                p {
                    margin-bottom: unset;
                }

                button {
                    border-radius: 50%;
                    outline: unset;
                    border: unset;
                    width: 2.8em;
                    height: 2.8em;
                    background: #FFFFFF;
                    box-shadow: -4px 4px 4px rgb(126 125 125 / 25%), 4px -4px 8px rgb(126 125 125 / 25%);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        border-radius: unset;
                        width: 1em;
                        pointer-events: none !important;
                    }
                }
            }

            .fadeIn-bottom {
                top: 80%;
            }
        }
    }
}